* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  font-family: Merriweather, serif;
}

.navbar__menu {
  display: flex;
  align-items: center;
  margin: 1em;
}

.call__to__action {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 1em 2em;
  border-radius: 2em;
  border: none;
}

.call_to_action_fill {
  background: linear-gradient(to right, rgb(101, 78, 163), rgb(234, 175, 200));
}

.call_to_action_outline {
  background-color: white;
  border: 0.2em solid rgb(101, 78, 163);
  color: rgb(101, 78, 163);
}

.call_to_action_outline:hover {
  background: linear-gradient(to right, rgb(101, 78, 163), rgb(234, 175, 200));
  color: white;
}

.call__to__action:hover {
  background-color: rgb(145, 148, 215);
  cursor: pointer;
}

.hero__section {
  margin: 1em;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.hero__content {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 10;
}

h1 {
  font-size: 4.5rem;
}
.hero__img {
  animation: 4s ease 0s 2 normal none running bounce;
}

.new__img {
  display: none;
}

.mobile__img {
  display: none;
}

.hero__img:hover {
  animation: 2s ease 0s infinite normal none running bounce;
}

.social-media-icons {
  display: flex;
  justify-content: start;
}

.social-media-icons a {
  margin: 1em 1em;
}

p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: rgb(236, 229, 229);
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Your Preferred Font", sans-serif;
  hyphens: auto;
  widows: 2;
  orphans: 2;
}

#section4 {
  display: flex;
  flex-direction: column;
  place-content: center space-around;
}

h2 {
  border-bottom: 1px solid rgb(204, 204, 17);
  font-family: Oxygen, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3em;
}

.techs {
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;
}

.techs li {
  margin-top: 1em;
}

.contact-btn {
  width: 22%;
  margin: 0.5em auto;
  appearance: none;
  background-color: rgb(255, 255, 255);
  border-radius: 40em;
  border-style: none;
  box-shadow: rgb(173, 207, 255) 0px -12px 6px inset;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  outline: none;
  padding: 1.5rem 1.8rem;
  text-align: center;
  transition: all 0.15s ease 0s;
  touch-action: manipulation;
}

.contact-btn:hover {
  background-color: rgb(128, 77, 238);
  box-shadow: rgb(24 31 131) 0px -6px 8px inset;
  transform: scale(1.125);
  color: white;
}

.contact-btn:active {
  transform: scale(1.025);
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

i {
  margin: 0px 0.5em;
  font-size: 2em;
}

@media only screen and (max-width: 1100px) {
  .navbar__menu {
    flex-direction: column;
  }

  .logo__img {
    margin: 0px auto;
    width: 10% !important;
  }

  .hero__img {
    display: none;
  }

  .new__img {
    display: block;
  }

  .new__img:hover {
    animation: 2s ease 0s infinite normal none running bounce;
  }

  .hero__title {
    font-size: 2em;
  }

  .hero__des {
    font-size: 0.8em;
  }

  .call__to__action {
    padding: 0.5em 1em;
    font-size: 0.8em;
    margin: 0.5em 0px;
  }

  i {
    margin: 0px 0.5em;
    font-size: 1.5em;
  }

  section {
    flex-direction: column;
  }
}

@keyframes hover-animation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

i:hover {
  animation-name: hover-animation;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

@media only screen and (min-width: 2551px) {
  .hero__content {
    margin-left: 30em;
  }
}

@media only screen and (max-width: 750px) {
  .burger-nav {
    display: block;
    background: url("../Img/ham-i.png");
    width: 100px;
    height: 50px;
  }

  .new__img {
    display: none;
  }

  .mobile__img {
    margin: 0px auto;
    display: block !important;
  }

  .mobile__img:hover {
    animation: 2s ease 0s infinite normal none running bounce;
  }

  .hero__section {
    display: flex;
    flex-direction: column;
    place-content: center;
    margin: 1em 0px;
  }

  .hero__title,
  .hero__des,
  i,
  .call__to__action {
    margin: 0.5em 0px;
  }

  .call-to-action {
    display: flex;
    place-content: center space-around;
  }

  h2 {
    font-size: 2em;
  }

  .contact-btn {
    width: 30%;
  }

  .social-media-icons {
    justify-content: space-evenly;
  }
}

main {
  margin: 18vh 1em 10vh;
}

.main-hero {
  min-height: 40vh;
  padding-top: 3em;
}

section {
  position: relative;
  min-height: 80vh;
  margin: 1em;
}

.navbar__menu ul {
  padding-left: 0px;
  margin: 0px;
  text-align: right;
}

.navbar__menu li {
  display: inline-block;
  margin: 1em;
}

.navbar__menu .menu__link {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navbar__menu .menu__link:hover {
  background: rgb(121, 100, 178);
  color: rgb(255, 255, 255);
  border-radius: 0.5em;
  padding: 1em 2em;
  transition: all 0.3s ease 0s;
}

.logo__img {
  width: 6%;
  margin-right: auto;
}

.page__header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
}

.page__header.scroll-effect {
  background-color: rgb(156, 160, 216);
}

.landing__container {
  padding: 1em;
  text-align: left;
}

.f-s-img img {
  width: 100%;
  height: 100%;
}

.page__footer {
  background: rgb(156, 160, 216);
  padding: 3em;
  color: rgb(255, 255, 255);
}

@media only screen and (min-width: 35em) {
  .landing__container {
    width: 100%;
    padding: 2em;
  }

  section {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 560px) {
  .f-s-img img {
    width: 100%;
    height: auto;
  }

  .contact-btn {
    font-size: 1rem;
    padding: 0.4rem 5rem;
    width: 80%;
  }
}

section:nth-of-type(2n) .landing__container {
  margin-right: 0px;
  margin-left: auto;
  text-align: right;
}

section:nth-of-type(2n + 1) .landing__container::before {
  content: "";
  background: rgba(255, 255, 255, 0.19);
  position: absolute;
  z-index: -5;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

section:nth-of-type(2n) .landing__container::before {
  content: "";
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  top: 3em;
  right: 3em;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

section:nth-of-type(3n) .landing__container::after {
  content: "";
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

section:nth-of-type(3n + 1) .landing__container::after {
  content: "";
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 20vw;
  bottom: -5em;
  z-index: -5;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

section.your-active-class {
  background: linear-gradient(
    -90deg,
    rgb(128, 77, 238) 0%,
    rgba(60, 51, 80, 0) 100%
  );
  border-radius: 10px;
}

section.your-active-class .landing__container::before {
  opacity: 1;
  animation: 4s linear 0s infinite normal forwards running rotate;
}

section.your-active-class .landing__container::after {
  opacity: 1;
  animation: 5s linear 0s infinite reverse forwards running rotate;
}

.navbar__menu .highlighted {
  background: rgb(121, 100, 178);
  border-radius: 0.5em;
  padding: 1em 2em;
  box-shadow: rgba(255, 255, 255, 0.11) 0px 0px 10px;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
}

.up {
  position: fixed;
  bottom: 10px;
  right: -100px;
  background: rgb(119, 99, 176);
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.up.show {
  right: 20px;
}

.up:hover {
  background: rgb(255, 255, 255);
  color: rgb(121, 100, 178);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-1em) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0px, 0px);
  }

  20%,
  80% {
    transform: translate3d(2px, 0px, 0px);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0px, 0px);
  }

  40%,
  60% {
    transform: translate3d(2px, 0px, 0px);
  }
}
